body,html {
  height:100%;
}

#hate-page {

width:100vw;
background-color:black;

}

h1 {

  font-size: 15vmax;
  color:red;


}

#love-page {

width:100vw;
background-color:blue;

}

h1 {

  font-size: 15vmax;
  color:white;


}
