body,html {
  height:100%;
}

#hate-page {

width:100vw;
height:100%;
background-color:black;

}

h1 {

  font-size: 25vmax;
  color:red;


}

#love-page {

width:100vw;
height:100%;
background-color:blue;

}

h1 {

  font-size: 25vmax;
  color:white;


}
